
   

/* Newly Added */
.cd-header-nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
}

.cd-header-nav nav .dis {
  display: flex;
  align-items: center;
}

.cd-header-nav nav a {
  margin-right: 20px; 
  text-decoration: none; 
}

.logout-button {
  background-color:blue;
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: wheat;
  cursor: pointer;
  padding: 10px;
  margin-left: 20px; /* Adjust spacing after the last nav link */
}







